<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="https://www.linkedin.com/in/jos%C3%A9-manuel-mu%C3%B1iz-pe%C3%B1a-487286200/"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
      <li><a href="https://github.com/josmunpen"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="mailto:josemamup@gmail.com"><i class="fas fa-at"></i><span style="font-size: small;">  josemamup@gmail.com</span></a></li>
      <li><a href="tel:617065862"><i class="fas fa-phone-alt"></i>  617065862</a></li>
      <li><a href="https://github.com/BDHU/minimalist"><i class="far fa-bookmark"></i> Project Repository</a></li>
    </ul>
  </div>